<div class="homebgc">
    <div class="row" style="margin-left: 10%">
        <div>
          <div class="container" style="margin-top: 20px;margin-bottom: 20px;" *ngFor="let item of list">
            <div class="card" style="width: 18rem;">
              <img src="./assets/cuisine/{{item.name}}.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title font-family-c">
                  {{item.name}}</h5>
                <p class="card-text">{{item.overview}}</p>
                <a href="{{item.url}}" class="btn btn-primary">更多資訊</a>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="container" style="margin-top: 20px;margin-bottom: 20px;" *ngFor="let item of list2">
            <div class="card" style="width: 18rem;">
              <img src="./assets/cuisine/{{item.name}}.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title font-family-c">
                  {{item.name}}</h5>
                <p class="card-text">{{item.overview}}</p>
                <a href="{{item.url}}" class="btn btn-primary">更多資訊</a>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="container" style="margin-top: 20px;margin-bottom: 20px;" *ngFor="let item of list3">
            <div class="card" style="width: 18rem;">
              <img src="./assets/cuisine/{{item.name}}.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title font-family-c">
                  {{item.name}}</h5>
                <p class="card-text">{{item.overview}}</p>
                <a href="{{item.url}}" class="btn btn-primary">更多資訊</a>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="container" style="margin-top: 20px;margin-bottom: 20px;" *ngFor="let item of list4">
            <div class="card" style="width: 18rem;">
              <img src="./assets/cuisine/{{item.name}}.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title font-family-c">
                  {{item.name}}</h5>
                <p class="card-text">{{item.overview}}</p>
                <a href="#" class="btn btn-primary">更多資訊</a>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

