<div class="homebgc">
  <div class="row" style="margin-left: 3%">
    <div class="container video-container" style="margin-top: 20px;">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/NJQQDG33DnM" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="container video-container" style="margin-top: 20px;">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/X4p-7EkRl2U" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="container video-container" style="margin-top: 20px;">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/P9caunNra3g" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="container video-container" style="margin-top: 20px;">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/j96ZexEeRg0" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="container video-container" style="margin-top: 20px;">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/UGh0oSNA1L8" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
