<div class="homebgc" style="padding: 20px">
    <h1 class="text-line font-family"><img src="assets/logo/cocktail.png" alt="Leaf" style="width: 56.3px;height: 64px; margin-right: 30px"><b>Fonctionnalité</b></h1>
    <p class="header-content text-line font-family"><br>Il n'y a aucune raison de vouloir de la nourriture
<br>Laissez Délicieux vous conduire à explorer les cuisines de divers endroits de Taichung à tout moment!<br>Nous proposons des fonctionnalités uniques spécialement conçues pour vous et votre expérience, telles que</p>
    <ul style="margin-left: 100px">
    <div class="header-content font-family"><img src="assets/logo/cocktail.png" alt="Leaf" style="width: 28.14px;height: 32px; margin-right: 10px"><b>Votez pour votre plat Taichung préféré</b></div>
    <div class="header-content font-family"><img src="assets/logo/cocktail.png" alt="Leaf" style="width: 28.14px;height: 32px; margin-right: 10px"><b>Découvrez une cuisine inconnue</b></div>
    <div class="header-content font-family"><img src="assets/logo/cocktail.png" alt="Leaf" style="width: 28.14px;height: 32px; margin-right: 10px"><b>Classement des plats les plus populaires à Taichung</b></div>
    <div class="header-content font-family"><img src="assets/logo/cocktail.png" alt="Leaf" style="width: 28.14px;height: 32px; margin-right: 10px"><b>Choisissez rapidement la bonne nourriture pour le jour ou la nuit</b></div>
    </ul>
    <button type="button" class="btn btn-info font-family" style="margin-left: 270px;margin-top: 10px;" [routerLink]="[ '/explore']">Start exploring cuisine!</button>
    <div class= font-family style="float: right;margin-top: 70px;">Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</div>
